/Paint_The_House/.vs
/Paint_The_House/.idea
/Paint_The_House/Builds
/Paint_The_House/obj/Debug
Paint_The_House/*.csproj
*.bakert
Paint_The_House/Temp/UnityLockfile
/Paint_The_House/Temp
Paint_The_House/Paint_The_House.sln
